@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  background: linear-gradient(
    90deg,
    #131522 0%,
    #131522 0%,
    #1f2235 49.3%,
    #463940 100%
  );
}
